:root {
    --bg-color: black;
    --line-color: black;
}

body {
    background-color: var(--bg-color);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 16px;
}

.turn-text {
    font-size: 1.4rem;
    font-weight: 700;
}

.content {

    background-color: var(--line-color);

    display: grid;
    grid-template: repeat(3, minmax(120px, 1fr)) / repeat(3, minmax(120px, 1fr));
    gap: 4px;

}

.box {
    background-color: white;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover:not(.selected):not(.game-over) {
    background-color: rgb(196, 196, 196);
}

.box.winning {
    background-color: gold;
}

span {
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.reset {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
}

form.player-names {
    display: flex;
    justify-content: space-between;
    gap: 128px;
}


div.player-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    font-size: 1.4rem;
}

input.player-name {
    border-radius: 8px;
    border: 1px solid white;
    width: 10rem;
    height: 2rem;
    font-size: 1.8rem;
    background-color: black;
    color: white;
}

input.ready-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 8px;

    font-size: 1.2rem;
    height: 4rem;
    width: 8rem;
}

.name-display {
    display: flex;
    gap: 424px;
    font-size: 1.4rem;
    font-weight: 700;
}

.name-display div {
    font-family: Arial, Helvetica, sans-serif;
}