:root {
    --bg-color: black;
    --line-color: black;
}

body {
    background-color: var(--bg-color);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.turn-text {
    font-size: 1.4rem;
    font-weight: 700;
}

.content {

    background-color: var(--line-color);

    display: grid;
    grid-template: repeat(3, minmax(120px, 1fr)) / repeat(3, minmax(120px, 1fr));
    gap: 4px;

}

.box {
    background-color: white;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover:not(.selected):not(.game-over) {
    background-color: gray;
}

.box.winning {
    background-color: gold;
}

span {
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


